.btn {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    padding: 14px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    border: 0;
    &:hover {
        background-color: rgba(0, 0, 0, 0.7);
    }
    &:active {
        background-color: rgba(0, 0, 0, 0.6);
    }
}